/* css */
.mg-form{
    margin-bottom:10px;
}
.mg-btn{
    margin-top: 20px;
    width:100%;
}
.mg-btn.btn-user{
    margin-top: 20px;
    width:20%;
}
.error{
    color: red;
    font-size: 90%;
    font-style: italic;
}
